
body {
  background-image: url('../Images/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  font-family: Arial, Sans-serif;
  font-size: 14px;
}

#header img {
  max-width: 100%;
  height: 120%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #5C946E;
  margin: 10px;
  height: 95px;
  border-radius: 5px;
  padding-top: 10px;
}
#navbar{
  background-color: #5C946E;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-radius: 5px;
  text-align: center;
}

nav {
  float: left;
  background-color: #80C2AF;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-radius: 5px;
  text-align: center;
  width:240px;
}


.homemain {
  background: rgba(250,252,151,0.6);
  min-width: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  font-size: 140%;
}

.main {
  background: rgba(250,252,151,0.6);
  margin-left: 260px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  font-size: 140%;
}

.contacttable {
  background: rgba(250,252,151,0.6);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  font-size: 140%;
}

.sideleft {
  background-color: #80C2AF;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 15px;
  font-size: 120%;
  float: left;
  width:240px;
  clear:left;
}

#buttons li {
  list-style: none;
  text-align: center;
  background-color: #80C2AF;
  margin-right: 10px;
  margin-left: 30px;
  width: 80px;
  line-height: 35px;
}

#buttons li a {
  text-decoration:none;
  color: #FFFFFF;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #FAFC97;
}

.imagebox {
  background: rgba(250,252,151,0.6);
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width:150px;
  clear:left;
}

.footer {
  clear:both;
  float:bottom;
  text-align: center;
  background-color: #5C946E;
  width:97%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding:1px;
}

#floatingpictures {
  width:100%;
}

p {
	text-indent: 20px;
}

table {
  width: 100%;
}

img {
  text-align: center;
}

input {
  height: 30px;
	border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 60%;
  border: 2px solid #5C946E;
  font-size: 90%;
}

input.button {
  height: 35px;
	border-radius: 5px;
	padding: 5px;
  width: 80px;
  border: 2px solid #5C946E;
  font-size: 90%;
  background-color: #DBF3E5;
  color: #000;
}

input.button:hover {
  text-decoration: none;
  color: #000000;
  background-color: #FAFC97;
}

input:focus {
  border: 3px solid #FFFF00;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

textarea {
  margin-top: 10px;
	padding:5px;
	height: 60px;
	border-radius: 5px;
  width: 60%;
  border: 2px solid #5C946E;
  font-family: Arial;
  font-size: 90%;
}

textarea:focus {
  border: 3px solid #FFFF00;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
@media only screen and (max-width: 768px) {
  nav  {
    float:none;
		width: auto;
    background-color: width:240px;;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    border-radius: 5px;
    text-align: center;
	}

  .main {
    background: rgba(250,252,151,0.6);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    font-size: 140%;
  }

  .homemain {
    background: rgba(250,252,151,0.6);
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    font-size: 140%;
  }
}
